---
BasedOnStyle: Microsoft
AccessModifierOffset: -2
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  AcrossEmptyLines: true
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit: 105
IndentCaseBlocks: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Allman
IndentWidth: 2
SortIncludes: false
NamespaceIndentation: All
